@tailwind base;
@tailwind components;
@tailwind utilities;



.header-buttons{
  height: 75px;
  padding: 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 20px;
  font-weight: 600;
  gap: 50px;
  background-color: rgb(188, 160, 211);
  color: rgb(146, 29, 29);
}

.parentDiv {
  align-items: center;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.child1 {
  width: 100%;
  margin: 20px;
  font-size: 60px;
  font-weight: 900px;
  flex: 1;
}

.name {
  color: rgba(207, 4, 4, 0.678);
}

.child2{
  margin: 40px;
  padding: 40px;
}

.contactus {
  padding: 111px;
  font-size: 80px;
  font-weight: 900px;
  color: rgba(255, 220, 220, 0.678);
  background-color: rgb(69, 31, 105);
}

.about {
  padding: 111px;
  font-size: 80px;
  font-weight: 900px;
  color: rgba(255, 220, 220, 0.678);
  background-color: rgb(69, 31, 105);
}

.portfolio{
  padding: 20px;
  font-size: 40px;
  font-weight: 300px;
  color: rgba(240, 228, 250, 0.678);
  background-color: rgb(54, 7, 73);
}

.Footer{
  height: 70px;
  padding-right: 20px;
  background-color: rgb(188, 160, 211);
  color: rgb(146, 29, 29);
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}

.point{
  color: bisque;
}


@media (max-width: 480px) {
  .header-buttons {
    gap: 20px;
    font-size: 13px;
    align-items: left;
    justify-content: left;
  }

  .parentDiv {
    display: flex;
    align-items: stretch;
  }

  .child1 {
    font-size: 28px;
    align-items: left;
    margin: 10px;
  }

  .child2 {
    margin: 20px 0;
    align-items: right;
  }

  .portfolio, .about, .contactus {
    padding: 30px;
    font-size: 24px;
  }

  .Footer {
    font-size: 16px;
    padding: 10px;
  }
}

@media (max-width: 760px) {
  .header-buttons {
    gap: 30px;
    font-size: 21px;
    align-items: left;
    justify-content: left;
  }

  .parentDiv, .portfolio, .contactContainer, .aboutContainer {
    display: flex;
    align-items: stretch;
  }

  .child1 {
    font-size: 32px;
    align-items: left;
    margin: 15px;
  }

  .child2 {
    margin: 25px 0;
    align-items: right;
  }

  .portfolio, .about, .contactus {
    padding: 35px;
    font-size: 29px;
  }

  .Footer {
    font-size: 21px;
    padding: 15px;
  }
}
